
YOUTUBE_LINK=https://www.youtube.com/@vyarna
INSTAGRAM_LINK=https://instagram.com/vyarnasharelife
FACEBOOK_LINK=https://www.facebook.com/vyarnabooster/
TIKTOK_LINK=https://www.tiktok.com/@vyarna
LINKEDIN_LINK=https://www.linkedin.com/company/vyarna/

PROD_URL=https://siteapp.vyarna.com/
API_URL=https://siteapp.vyarna.com/