
YOUTUBE_LINK=https://www.youtube.com/@Glow Baby
INSTAGRAM_LINK=https://instagram.com/Glow Babysharelife
FACEBOOK_LINK=https://www.facebook.com/Glow Babybooster/
TIKTOK_LINK=https://www.tiktok.com/@Glow Baby
LINKEDIN_LINK=https://www.linkedin.com/company/Glow Baby/

PROD_URL=https://siteapp.Glow Baby.com/
API_URL=https://siteapp.Glow Baby.com/